name: Flutter Workflow

on: 
  push:
    branches:
      - infa
      
jobs:
  build:
    runs-on: ubuntu-latest
   
    steps:
      - uses: actions/checkout@v3

      # - uses: actions/setup-java@v3
      #   with:
      #     distribution: 'zulu'
      #     java-version: "12.x"
       
      - uses: subosito/flutter-action@v2
        with:
         
          flutter-version: "3.0.0"
          channel: 'stable'
  
      - name: Get dependencies
        run: flutter pub get

      # Runs a set of commands using the runners shell
      - name: Start release build
        run: flutter build appbundle

      - name: Run unit tests
        run: flutter test --coverage