name: Flutter Workflow

on: 
  push:
    branches:
      - infa
      
jobs:
  build:
    name: ios
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.10.0'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get
        run: flutter analyze
        run: flutter test